# dependências
node_modules/

# build
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.idea/

# sistema operacional
.DS_Store
Thumbs.db

# coverage/testes
coverage/

# arquivos temporários
*.tmp
*.temp

# vite
.vite/

# cache
.cache/

# arquivos de lock opcionais
package-lock.json
yarn.lock
pnpm-lock.yaml